/* ############### Reset styling ############### */
* {
  margin: 0;
  padding: 0;
}

/* ############### General styling ############### */

nav {
  display: block;
  padding-left: 30%;
  padding-right: 30%;
  height: 30%;
  background-color: #010101;
  color: white;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ############### Specific styling ############### */

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 2em;
}

.introduction-section {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(black, #6e6e6f);
  height: 500px;
  color: white;
  align-items: center;
}

.introduction-section p {
  font-size: 2em;
  width: 40%;
}

.timeline-section {
  background-color: #FFFAF1;
}